* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-branco: #FFFFFF;
    --cor-azul: #167BF7;
    --cor-cinza: #C0C0C0;
    --cor-preto: #00030C;
    --cor-azul-efeito: #093a75;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal{
    background-image: url("assets/foto_de_fundo.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container__caixa{
    margin: 0 6em;;
}
.container__titulo{
    font-size: 28px;
    font-weight: 700px;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__botao{
    background-color: var(--cor-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-branco);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.container__botao:hover{
    background-color: var(--cor-azul-efeito);
    color: #00030C;
}
.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--cor-branco);
}
.container__descricao{
    padding: 2em;
}
.container__aviso{
    font-size: 12px;
    color: var(--cor-cinza);
}
.secundario {
    align-items: center;
    margin: 0 10em;
}
.secundario__imagem{
    width: 80%;
}
.descricao__titulo{
    font-size: 48px;
    font-weight: 700px;
    font-family: var(--fonte-principal);
    color: var(--cor-branco);
    margin-bottom: 0.1em;
}
.descricao__texto{
    font-size: 16px;
    color: var(--cor-cinza);
}
.secundario__botao{
    display:inline-block;
    margin-top: 1em;
}
.dispositivos{
    text-align: center;
   
}
.dispositivos__titulo{
    font-size: 48px;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__itens{
    font-size: 32px;
}
.rodape__logo{
    margin: auto;
    display: block;
    margin-bottom: 1em;
}
.rodape__lista{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.lista__link{
    margin: 1em;
    font-family: var(--fonte-principal);
    text-decoration-style: none;
}
.lista__link a {
    text-decoration: none;
    color: var(--cor-branco);
}
.lista__link a:hover{
    color: var(--cor-cinza);
}
.lista__link a:active{
    color: var(--cor-azul);
}
.rodape__texto{
    font-family: var(--fonte-principal);
    color: var(--cor-cinzao);
    text-align: center;
    margin: 1em 2em;
}
@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none
    }
    .container__imagem{
        width: 50vw;
    }
    .container__caixa{
        margin: 2em 2em;
    }
    .secundario {
        margin: 0;
        text-align: center;
    }
    .secundario__imagem{
        width: 50vw;
    }
    .dispositivos__lista{
        display: block;
    }
    .rodape__logo{
        margin-bottom: 2em;
    }
    .rodape__lista{
        display: block;
        text-align: center;
    }
}